.about-us-header {
    padding: 40px 20px;
    text-align: center;
  }
  
  .intro-section {
    margin-bottom: 40px;
    animation: fadeIn 1s ease-out;
  }
  
  .intro-section span  {
    display: block;
    font-size: 1.2rem;
    color: #be5097  ;
  }
  
  .intro-section h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #F32688; /* Update color */
  }
  
  .about-section {
    margin-bottom: 40px;
    animation: slideInLeft 1s ease-out;
  }
  
  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #C623C2; /* Update color */
  }
  
 .about-section p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #9f8495; /* Update color */
  }
  
 
  