/* General reset for the body */
body {
    margin: 0;
    padding: 0;
    background-color: #f3ecf3;
    font-family: 'Arial', sans-serif;
}

/* Styling for headline */
.headline {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #C623C2;
    margin-top: 7%;
    letter-spacing: -2.3%;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(243, 38, 136, 0.5);
}

/* Styling for home badge */
.homebadge {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}



/* Styling for book demo section */
.bookdemo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.bookdemo a {
    
    color:#F32688;
    padding: 10px 15px;
    border: none;
    
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s, transform 0.3s;
}

.bookdemo a:hover {
    color:#C623C2;
    transform: translateY(-2px);
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
    .headline {
        font-size: 1.5rem;
        margin-top: 25%;
    }

    .homebadge img {
        width: 180px;
        height: 90px;
    }

    .bookdemo a {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
