/* General reset for the body */
body {
    margin: 0;
    padding: 0;

    background-color: #E4CCFF;
    /* background: linear-gradient(135deg, #E4CCFF 0%, #A4E2FF 100%); */
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Styling for headline */
.headline {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-top: 7%;
    letter-spacing: -2.3%;
    line-height: 150%;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styling for home badge */
.homebadge {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.homebadge img {
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Styling for book demo section */
.bookdemo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.bookdemo button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.bookdemo button:hover {
    background-color: #333;
    color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
    .headline {
        font-size: 1.5rem;
        margin-top: 25%;
    }

    .homebadge img {
        width: 180px;
        height: 90px;
    }

    .bookdemo button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
